<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Home page</title>
	</head>
	<body>
		{{getCurrentYear}}
		{{> header}}
		<h1>Welcome to home page</h1>
		<h3>How may we help you?</h3>
		<p>Please enter your queries in the problems section.</p>
		{{> footer}}
	</body>
</html>
